// size
@height-switch-dm: 36px;
@padding-switch-dm: 9px 18px;
@padding-option-dm: @padding-switch-dm;
@fontSize-dm: 16px;
@lineHeight-dm: 1.4;
// color
@bgColor-dm: rgba(255,255,255,1);

.center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate( -50%,-50% );
}

.dm {
  width: auto;
  font-size: @fontSize-dm;
  line-height: @lineHeight-dm;
  position: relative;
}

.dm_menu {
  position: absolute;
  top: @height-switch-dm;
  left: 0;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.dm_option {

}

.dm_switch {
  padding: @padding-switch-dm;
}
